@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

$width: 1005px;
$azulPrincipal: #2099c6;
$fonteTexto: 20px;

body {
  background-image: url("../img/fundo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font: {
    family: 'Lato', sans-serif;
  }
}

.container {
  width: $width;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.8);
}

header {
  .banner {
    .homer {

    }
    p {
      position: relative;
      z-index: 1;
      margin-top: -210px;
      float: right;
      font-size: 40px;
      color:#fff;
      background-color: $azulPrincipal;
      padding: 20px;
      font-weight: 800;
    }
  }

  .menu {
    width: $width;
    height: 100px;
    background-color: rgb(213, 188, 19);
    margin: -2px;
    
    .quadro {
      width: 85px;
      height: 85px;
      border: 5px solid #774b11;
      display: inline-block;
    }
     .btnBart {
      background-image: url("../img/Bart.jpg");
      background-size: cover;
    }
    .btnMarge {
      background-image: url("../img/Marj.jpg");
      background-size: cover;
    }
    .btnLisa {
      background-image: url("../img/Lisa.jpg");
      background-size: cover;
    }
    .btnHomer {
      background-image: url("../img/homer.jpg");
      background-size: cover;
    }
    .btnMaggie {
      background-image: url("../img/Mag.jpg");
      background-size: cover;
    }
  }
}

article {
  padding: 45px;
  line-height: 1.5;
  font-size: $fonteTexto;
  h1 {
    font-size: 35px;
    color: $azulPrincipal;
    font-weight: 800;

  }
  p {
    padding: 20px 20px 15px 20px;
  }
}


footer {
  width: $width;
  height: 160px;
  background-color: #1a60c8;
  border-top: 8px solid #7e3c16;

  .fotoHomerRG img{
    width: 120px;
    margin-top: -1.5px;
    padding-left: 15px;
    position: relative;
  }
  .fotoFamilia img{
    width: 190px;
    padding-left: 15px;
    float: right;
    margin-top: -200px;
  }
  p{
    margin-top: -150px;
    clear: both;
    color: #fff;
    font-weight: 200;
    line-height: 1.2;
    font-size: $fonteTexto;
    padding: 15px 160px;

    span{
      font-weight: 700;
    }
  }
}
